TARGET_ENV=zen-installer
SUBSCRIPTION_ID=your-subscription-id
GITHUB_OAUTH_CLIENT_SECRET=your-github-oauth-client-secret
ALLOWED_ORIGINS=https://your-domain.com,http://localhost:5173 # optional, can be add after deployment
# LOCATION=Australia East   # optional, defaults to "Australia East" in variables.tf
