TF_VAR_subscription_id=51d0ca21-eaa5-4d34-aeb3-fa9f7d454b5d
TF_VAR_location=eastus
BUILD_VM_SIZE=Standard_B4ms
TF_VAR_IMAGE_RG=paw-gallery
GALLERY_RG=paw-gallery
TF_VAR_gallery_name=PrivilegedAccessWorkstations
TF_VAR_image_name=PrivilegedWorkstation
TF_VAR_IMAGE_PUBLISHER=Zenblox
TF_VAR_IMAGE_OFFER=PrivilegedWorkstation
TF_VAR_IMAGE_SKU=paw-win11
IMAGE_VERSION=1.0
