
# Linux PEER passwordless authentication for local development.
#DBHOST=/var/run/postgresql
#DB_USER=
#DB_PASSWORD=

# Windows based passwordless SSPI authentication do not work with the pg-protocol client library.

# Password based authentication for general connectivity.
DBHOST=127.0.0.1
DB_USER=
DB_PASSWORD=
