SUBSCRIPTION_ID              = "00000000-0000-0000-0000-000000000000"
PAW_LOCATION                 = "eastus"
PAW_RG                       = "paw-rg"
VIRTUAL_NETWORK_ADDRESS_SPACE = "10.250.0.0/16"
FIREWALL_SUBNET_ADDRESS_PREFIX = "10.250.0.0/26"
SESSION_HOST_SUBNET_ADDRESS_PREFIX = "10.250.1.0/24"
GALLERY_RG                   = "paw-gallery"
IMAGE_NAME                   = "PrivilegedWorkstation"
IMAGE_VERSION                = "1.0.0000000000"
HOST_POOL_NAME               = "privavd-pooled"
WORKSPACE_NAME               = "privavd-workspace"
APPLICATION_GROUP_NAME       = "privavd-desktop"
VM_SIZE                      = "Standard_D4s_v4"
SESSION_HOST_COUNT            = 1
ADMINISTRATOR_USERNAME        = "avdadmin"
PAW_GROUP                    = "PawUsers"
