{
  "APPINSIGHTS_CONNECTION_STRING": "InstrumentationKey=b0137ac1-5ec5-4607-a52d-da5c5b3eb072;IngestionEndpoint=https://australiaeast-1.in.applicationinsights.azure.com/;LiveEndpoint=https://australiaeast.livediagnostics.monitor.azure.com/;ApplicationId=4d2a0c4f-051a-4856-9268-fbff85a2c895",
  "FRONTEND_CUSTOM_DOMAIN_HOST": "http://localhost/",
  "COORDINATE_DOMAIN": "http://localhost:7071",
  "PROFILE_DOMAIN": "http://localhost:7072",
  "QUEST3TIER_DOMAIN": "http://localhost:7073",
  "QUEST3TIERCQRS_DOMAIN": "http://localhost:7074",
  "QUEST5TIER_DOMAIN": "http://localhost:7075",
  "QUEST5TIEREG_DOMAIN": "http://localhost:7076",
  "ACCESSMANAGER_DOMAIN": "http://localhost:7077"
}