{
  "APPINSIGHTS_CONNECTION_STRING": "InstrumentationKey=b0137ac1-5ec5-4607-a52d-da5c5b3eb072;IngestionEndpoint=https://australiaeast-1.in.applicationinsights.azure.com/;LiveEndpoint=https://australiaeast.livediagnostics.monitor.azure.com/;ApplicationId=4d2a0c4f-051a-4856-9268-fbff85a2c895",
  "PROFILE_DOMAIN": "https://chemicalfirefly-profile-func.azurewebsites.net",
  "QUEST3TIER_DOMAIN": "https://chemicalfirefly-quest3tier-func.azurewebsites.net",
  "FRONTEND_CUSTOM_DOMAIN_HOST": "https://chemicalfireflyweb.z8.web.core.windows.net/",
  "COORDINATE_DOMAIN": "https://chemicalfirefly-coordinate-func.azurewebsites.net",
  "QUEST5TIER_DOMAIN": "https://chemicalfirefly-quest5tier-func.azurewebsites.net",
  "QUEST5TIEREG_DOMAIN": "https://chemicalfirefly-quest5tiereg-func.azurewebsites.net"
}
 